

.admin-notify-body {
    text-align: center;

    .admin-notify-setNotify {
        margin-top: 10px;
        margin-left: 70%;
    }
}

.admin-product-body {
    text-align: center;

    .admin-product-setProduct {
        margin-top: 5px;
        margin-left: 70%;
        margin-bottom: 10px;
    }
}