.home-body{
    height: 100vh;
    text-align: center;
    // background-image: url(../public/home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.home-title{
    padding-top: 300px;
    margin-bottom: 100px;
    color: #5ab9c1;
}