.login-body{
    height: 100vh;
    text-align: center;
    background-image: url(../public/home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.login-box{
    height: 500px;
    width: 300px;
    border-radius: 10px;
    background: rgba($color: #5ab9c1, $alpha: 0.2);
    box-shadow: 1px 1px #333333;

    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.login-title{
    margin-top: 30px;
    margin-bottom: 100px;
    color: #333333;
}
.login-title-1{
    color: #333333;
    margin-bottom: 10px;
}
.login-form{
    margin: 0 auto;
    max-width: 200px;
}
.login-form-button{
    margin-top: 30px;
    margin-bottom: 10px;
    min-width: 100px;
}
.goRegister{
    color: #ffffff;
}